<div id="all_routes">
    <table border="2">
        <tr *ngIf="isAdmin">
            <th><a routerLink="/add_certificate" routerLinkActive="active"><button>New certificate request</button></a></th>
            <th><button (click)="openReason()">Revoke certificate</button></th>
        </tr>
        <tr style="height: 30px;"></tr>
        <tr>
            <th colspan="4"><button id="log-out-btn" (click)="logOut()">Log out</button></th>
        </tr>
    </table>
</div>

<ng-template id="popup" #reason let-modal>
    <div class="popup">
        <div class="popup-inner">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">
                    Confirm revocation
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="reason_desc">
                    Reason for revocation:
                </label>
                        <div class="input-group">
                            <textarea id="reason_desc" class="form-control" [value]="revReason" (input)="revReason = $event.target.value">

                            </textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="save()">
                    Save
                </button>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">
                        Cancel
                    </span>
                </button>
            </div>
        </div>
    </div>
</ng-template>