
adminaplication/src/main/resources/certificates/root.crt
adminaplication/src/main/resources/keystore/apiKeyStore.jks
*.crt
*.key
*.jks
bolnicaClient/ssl
adminFront/ssl
adminaplication/src/main/resources/certificates
adminaplication/src/main/resources/keystore
bolnicaServer/src/main/resources/keystore
bolnicaServer/src/main/resources/ssl
devices/dummy_device/src/main/resources/keystore
devices/dummy_device/src/main/resources/ssl