<div id="all_requests">
    <a routerLink="/main" routerLinkActive="active">
        <button class="main-btn">Back to main</button>
    </a>
    <h1>
        All certificate requests
    </h1>
    <table border="2">
        <tr>
            <th>Common Name</th>
            <th>Organization</th>
            <th>Organization Unit</th>
            <th>Country</th>
            <th>Email</th>
            <th>Locality</th>
            <th>Accept</th>
            <th>Decline</th>
        </tr>
        <tr style="height: 15px;"></tr>
        <tr *ngFor="let request of requests">
            <td>{{request.commonName}}</td>
            <td>{{request.organization}}</td>
            <td>{{request.organizationUnit}}</td>
            <td>{{request.country}}</td>
            <td>{{request.email}}</td>
            <td>{{request.locality}}</td>
            <td><button class="accept-btn" (click)="accept(request.id)">ACCEPT</button></td>
            <td><button class="decline-btn" (click)="decline(request.id)">DECLINE</button></td>
        </tr>
    </table>
</div>

<ng-template id="popup" #type let-modal>
    <div class="popup">
        <div class="popup-inner">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">
                    Confirm acceptance
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="acceptType">
                            Certificate type:
                    </label>
                        <div class="input-group">
                            <!-- <mat-radio-group id="acceptType" class="form-control" [value]="acceptType" (input)="acceptType = $event.target.value" aria-label="Select an option">
                                <mat-radio-button value="1">leaf</mat-radio-button>
                                <mat-radio-button value="2">device</mat-radio-button>
                            </mat-radio-group> -->
                            <form [formGroup]="form">
                                <label>
                                  <input type="radio" value="leaf" formControlName="acceptType">
                                    <span>leaf</span>
                                </label>
                                <label>
                                  <input type="radio" value="device" formControlName="acceptType">
                                    <span>device</span>
                                </label>
                                <label>
                                    <input type="radio" value="root" formControlName="acceptType">
                                      <span>root</span>
                                </label>
                            </form>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="confirm()">
                    Save
                </button>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">
                        Cancel
                    </span>
                </button>
            </div>
        </div>
    </div>
</ng-template>