<div id="revoked_certificates">
    <a routerLink="/main" routerLinkActive="active">
        <button class="main-btn">Back to main</button>
    </a>
    <h1>
        Revoked Certificates
    </h1>
    <table border="2">
        <tr>
            <th>Serial Number</th>
            <th>Revocation Date</th>
            <th>Revocation Reason</th>
        </tr>
        <tr style="height: 15px;"></tr>
        <tr *ngFor="let certificate of certificates">
            <td>{{certificate.serialNumber}}</td>
            <td>{{certificate.revocationDate}}</td>
            <td>{{certificate.revocationReason}}</td>
        </tr>
    </table>
</div>