<div id="all_logs">
    <a routerLink="/main" routerLinkActive="active">
        <button class="main-btn">Back to main</button>
    </a>
    <h1>
        All logs
    </h1>
    <table>
        <tr>
            <th>
                Select by code:
            </th>
            <th colspan="2">
                <select [value]="codeSearch" (input)="codeSearch = $event.target.value">
                    <option>OVERVALUE</option>
                    <option>UNDERVALUE</option>
                    <option>MALFUNCTION</option>
                    <option>ERR</option>
                    <option>OK</option>
                </select>
            </th>
            <th>
                <button class="search-btn" (click)="searchCode()">Search</button>
            </th>
            <th rowspan="2">
                <button (click)="ngOnInit()">Reset</button>
            </th>
        </tr>
        <tr>
            <th>
                Select by dates:
            </th>
            <th>
                <input type="datetime-local" [value]="startDate" (input)="startDate = $event.target.value">
            </th>
            <th>
                <input type="datetime-local" [value]="endDate" (input)="endDate = $event.target.value">
            </th>
            <th>
                <button class="search-btn" (click)="searchDates()">Search</button>
            </th>
        </tr>
    </table>
    <table style="height: 30px;"></table>
    <table border="2">
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Code</th>
            <th>Message</th>
            <th>Occurance date</th>
            <th>Occurance time</th>
        </tr>
        <tr style="height: 15px;"></tr>
        <tr *ngFor="let log of logs">
            <td>{{log.id}}</td>
            <td>{{log.type}}</td>
            <td>{{log.code}}</td>
            <td>{{log.message}}</td>
            <td>{{log.occurrenceDate| date: 'dd/MM/yyyy hh:mm a'}}</td>
            <td>{{log.occurrenceTime}}</td>
        </tr>
    </table>
</div>