<div id="all_routes">
    <table border="2">
        <tr>
            <th><a routerLink="/certificates" routerLinkActive="active"><button>Accepted certificates</button></a></th>
            <th><a routerLink="/revoked" routerLinkActive="active"><button>Revoked certificates</button></a></th>
            <th><a routerLink="/requests" routerLinkActive="active"><button>Requests</button></a></th>
            <th><a routerLink="/users" routerLinkActive="active"><button>Users</button></a></th>
        </tr>
        <tr style="height: 30px;"></tr>
        <tr>
            <th colspan="3"></th>
            <th><button id="log-out-btn" (click)="logOut()">Log out</button></th>
        </tr>
    </table>
</div>