<div id="all_users">
    <a routerLink="/main" routerLinkActive="active">
        <button class="main-btn">Back to main</button>
    </a>
    <h1>
        All admins
    </h1>
    <table border="2">
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Change role</th>
            <th>Delete</th>
        </tr>
        <tr style="height: 15px;"></tr>
        <tr *ngFor="let admin of admins">
            <td>{{admin.id}}</td>
            <td>{{admin.username}}</td>
            <td>{{admin.email}}</td>
            <td><button class="change-btn" (click)="changeAdmin(admin.id)">CHANGE ROLE</button></td>
            <td><button class="removal-btn" (click)="removeAdmin(admin.id)">REMOVE</button></td>
        </tr>
    </table>
    <h1>
        All doctors
    </h1>
    <table border="2">
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Change role</th>
            <th>Delete</th>
        </tr>
        <tr style="height: 15px;"></tr>
        <tr *ngFor="let doctor of doctors">
            <td>{{doctor.id}}</td>
            <td>{{doctor.username}}</td>
            <td>{{doctor.email}}</td>
            <td><button class="change-btn" (click)="changeDoctor(doctor.id)">CHANGE ROLE</button></td>
            <td><button class="removal-btn" (click)="removeDoctor(doctor.id)">REMOVE</button></td>
        </tr>
    </table>
    <button class="add-btn" (click)="addUser()">ADD USER</button>
</div>

<ng-template id="popup" #new_user let-modal>
    <div class="popup">
        <div class="popup-inner">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">
                    New user
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="email">
                            Email:
                        </label>
                        <div class="input-group">
                            <input id="email" class="form-control" [value]="email" (input)="email = $event.target.value" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username">
                    Username:
                </label>
                        <div class="input-group">
                            <input id="username" class="form-control" [value]="username" (input)="username = $event.target.value" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">
                    Password:
                </label>
                        <div class="input-group">
                            <input type="password" id="password" class="form-control" [value]="password" (input)="password = $event.target.value" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="role">
                    Role:
                </label>
                        <div class="input-group">
                            <select id="role" class="form-control" [value]="role" (input)="role = $event.target.value">
                                <option>DOCTOR</option>
                                <option>ADMIN</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="save()">
                    Add
                </button>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">
                        Cancel
                    </span>
                </button>
            </div>
        </div>
    </div>
</ng-template>