<div id="all_patients">
    <a routerLink="/main" routerLinkActive="active">
        <button class="main-btn">Back to main</button>
    </a>
    <h1>
        All patients
    </h1>
    <table border="2">
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Date of birth</th>
            <th>Details</th>
        </tr>
        <tr style="height: 15px;"></tr>
        <tr *ngFor="let patient of patients">
            <td>{{patient.id}}</td>
            <td>{{patient.firstName}}</td>
            <td>{{patient.lastName}}</td>
            <td>{{patient.email}}</td>
            <td>{{patient.dateOfBirth| date: 'dd/MM/yyyy hh:mm a'}}</td>
            <td><button class="view-btn" (click)="view(patient.id)">VIEW</button></td>
        </tr>
    </table>
</div>

<ng-template id="popup" #messages let-modal>
    <div class="popup">
        <div class="popup-inner">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">
                    Patient id: {{patientId}}
                </h4>
            </div>
            <div class="modal-body">
                <div *ngFor="let message of patientMessages" tabindex="0" class="e-card" id="basic">
                    <div class="e-card-header">
                        <div class="e-card-header-caption">
                            <div class="e-card-title">Id: {{message.id}}</div>
                        </div>
                    </div>
                    <div class="e-card-content">
                        {{message.message}}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">
                        Close
                    </span>
                </button>
            </div>
        </div>
    </div>
</ng-template>